.header-main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 38px 120px;
  position: relative;
}

.header-inner {
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.Main-logo {
  display: flex;
  align-items: center;
}

.tags-items {
  display: flex;
  gap: 44px;
  align-items: center;
}

.tags-items .tags {
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  font-family: "Poppins";
}

.drop-tags {
  display: flex;
  align-items: center;
  gap: 4px;
  position: relative;
  cursor: pointer;
}

.header-btn-call {
  border: 1px solid #8e2de2;
  width: 166px;
  height: 44px;
  border-radius: 8px;
  padding: 12px 20px;
  background-color: #ffffff;
  color: #000000;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  white-space: pre;
  cursor: pointer;
}

.hamburger-icon {
  display: none;
}

.dropdown-menu {
  /* position: fixed; */
  position: absolute;
  top: 20px;
  left: 0%;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 5px 20px -6px gray;
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0.5rem 0;
  z-index: 90099;
  width: 100px;
  border-radius: 12px;
  gap: 20px;
}

.drop-tags:hover .dropdown-menu,
.drop-tags:hover .dropdown-icon,
.dropdown-menu.active {
  display: flex;
}

.dropdown-icon:hover + .dropdown-menu {
  display: flex;
}

.dropdown-item {
  padding: 0.5rem 1rem;
  color: #333;
  text-decoration: none;
}

.dropdown-item:hover {
  background-color: #f5f5f5;
}

@media only screen and (max-width: 1440px) {
  .header-main {
    padding: 30px 80px;
  }
  .tags-items {
    gap: 36px;
  }
}

@media only screen and (max-width: 1024px) {
  .header-main {
    padding: 38px 60px;
  }

  .tags-items {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    background: #ffffff;
    position: absolute;
    top: 80px;
    right: 0;
    width: 100%;
    padding: 20px 60px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }

  .tags-items.active {
    display: flex;
  }

  .hamburger-icon {
    display: block;
    cursor: pointer;
    width: 54px;
    height: 54px;
  }
  .hamburger-icon .HamIcon {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .header-main {
    padding: 38px 30px;
  }
  .tags-items.active {
    padding: 20px 30px;
  }
}
