.augmention-service {
  width: 100%;
  /* background-color: rgb(236, 194, 194); */
  padding: 38px 120px;
  display: flex;
  flex-direction: column;
  gap: 120px;
}

.slider-image-2 {
  width: 50%;
}

.tab-pane {
  width: 100%;
}
.slide-text-1 h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 48px;
  line-height: 75.6px;
  letter-spacing: -4%;
  color: #000000;
}

.Slider-and-images-main-div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 38px 0;
  /* background: red; */
}

.main {
  width: 50%;
  /* height: 600px; */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}

.big-circle {
  /* background-color: aqua; */
  height: 500px;
  width: 500px;
  position: relative;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-block {
  position: absolute;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: center center;
  transition: transform 2s ease; /* Smooth transition */
}

.icon-block img {
  width: 77px;
  height: 77px;
}

.icon-block p {
  font-size: 14px;
  text-align: center;
  /* margin-top: 10px; */
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  color: #000000;
  background-color: transparent;
  font-size: 16px;
  font-family: "Montserrat";
  font-weight: 600;
  line-height: 19.5px;
  text-align: center;
  cursor: pointer;
}

/* .nav-link.active {
  color: #8e2de2; 
  border: none;
} */
.btn-inner-img-div {
  /* border: 3px solid black; */
  /* width: 120px; */
  /* height: 120px; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
}

.service-img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 1440px) {
  .augmention-service {
    padding: 38px 80px;
  }
}
