.container {
  height: 700px;
  position: relative;
  overflow-y: scroll; /* Enables vertical scrolling */
}

.center {
  position: absolute;
  left: 350px;
  top: 250px;
  border-radius: 50%;
  background: green;
}

.img-1,
.img-2,
.img-3,
.img-4,
.img-5,
.img-6,
.img-7,
.img-8 {
  position: absolute;
  left: 368px;
  top: 267px;
  border-radius: 50%;
}

.animate {
  animation: orbit 20s linear infinite;
}

.animate-2 {
  animation: orbit-2 20s linear infinite;
}

.animate-3 {
  animation: orbit-3 20s linear infinite;
}

.animate-4 {
  animation: orbit-4 20s linear infinite;
}

.animate-5 {
  animation: orbit-5 20s linear infinite;
}

.animate-6 {
  animation: orbit-6 20s linear infinite;
}

.animate-7 {
  animation: orbit-7 20s linear infinite;
}

.animate-8 {
  animation: orbit-8 20s linear infinite;
}

@keyframes orbit {
  from {
    transform: rotate(0deg) translateX(120px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(120px) rotate(-360deg);
  }
}

@keyframes orbit-2 {
  from {
    transform: rotate(72deg) translateX(120px) rotate(-72deg);
  }
  to {
    transform: rotate(432deg) translateX(120px) rotate(-432deg);
  }
}

@keyframes orbit-3 {
  from {
    transform: rotate(144deg) translateX(120px) rotate(-144deg);
  }
  to {
    transform: rotate(504deg) translateX(120px) rotate(-504deg);
  }
}

@keyframes orbit-4 {
  from {
    transform: rotate(216deg) translateX(120px) rotate(-216deg);
  }
  to {
    transform: rotate(576deg) translateX(120px) rotate(-576deg);
  }
}

@keyframes orbit-5 {
  from {
    transform: rotate(288deg) translateX(120px) rotate(-288deg);
  }
  to {
    transform: rotate(648deg) translateX(120px) rotate(-648deg);
  }
}

@keyframes orbit-6 {
  from {
    transform: rotate(360deg) translateX(120px) rotate(-360deg);
  }
  to {
    transform: rotate(720deg) translateX(120px) rotate(-720deg);
  }
}

@keyframes orbit-7 {
  from {
    transform: rotate(432deg) translateX(120px) rotate(-432deg);
  }
  to {
    transform: rotate(792deg) translateX(120px) rotate(-792deg);
  }
}

@keyframes orbit-8 {
  from {
    transform: rotate(504deg) translateX(120px) rotate(-504deg);
  }
  to {
    transform: rotate(864deg) translateX(120px) rotate(-864deg);
  }
}
